@charset "utf8";
/* Medidas absolutas 
cm=centimetro, mm=milimetro, in=polegada, px=pixl, pt=ponto, pc=paica

Medidas relativas
em=medidas relativas a fontes, ex=medidas x de uma fonte, rem=tamanho configurado ao body, vw=largura da vilport, vh=Altura da vilport, %

16px geralmente = 1 em

lighter normal bold bolder

shorthand font

1º font-style-> 2º font-weight -> 3º font-size -> 4º font-family

em html é id = em css é # (só pode um elemento)
em html é class = em css é . (pode vários elementos)
*/
body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}
.aprendendo {
    color: #1e402f;
}
.criar {
    text-align: center;
    background-color: #3c805e;
    color: white;
}
.basico {
    color: #3c805e;
}
.intermediario {
    color: #80793c;
}
.avancado {
    color: #803c3c;
}